In [2]:
import os, sys

path='../'
print(path in sys.path)
if not path in sys.path:
    sys.path.append(path)
    

import pandas as pd

False

In [19]:
df = pd.read_csv('/Users/yabebal/My-Works/Business/tsegi/tsegi_abyssinya_bank_transfers_1.csv',skiprows=4) #,sheet_name=None)

In [20]:
pd.set_option('display.max_rows', None)
df

,Date,Description,Amount (ETB),(ETB)
0,12/01/2022,Transfer YARED WELDEGEBRIEL ABREHA BOABANK Fro...,8400.00,10835.79
1,12/01/2022,Transfer DIBORA HAILE G/YOHANNES From Account ...,8439.00,19274.79
2,17/01/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,12473.19,31747.98
3,01/02/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8405.00,40152.98
4,03/02/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,8475.00,48627.98
5,09/02/2022,Transfer ELIAS ANDUALEM TAYE BOABANK From Acco...,6250.00,54877.98
6,09/02/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8786.24,63664.22
7,09/02/2022,Internet Credit NEBIL SEID YASSIN Nabil-4IR Ja...,8683.00,72347.22
8,10/02/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6282.54,78629.76
9,12/02/2022,Internet Credit RAHEL WELDEGEBRIEL ABREHAM Wor...,8932.00,87561.76
10,03/03/2022,Internet Credit RAHEL WELDEGEBRIEL ABREHAM Fro...,8950.00,96511.76
11,03/03/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8889.55,105401.31
12,04/03/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8600.00,114001.31
13,05/03/2022,Transfer DIBORA HAILE G/YOHANNES BOABANK From ...,8595.00,122596.31
14,08/03/2022,Internet Credit NAHOM NEGUSSIE DEMESSIE Tsegi ...,8950.00,131546.31
15,12/03/2022,Transfer ELIAS ANDUALEM TAYE BOABANK From Acco...,6400.00,137946.31
16,16/03/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6360.29,144306.60
17,01/04/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8555.00,152861.60
18,01/04/2022,ITM Acc to Transfer no chq DIBORA HAILE G/YOHA...,8517.00,161378.60
19,01/04/2022,ITM Acc to Transfer no chq RAHEL WELDEGEBRIEL ...,9100.00,170478.60
20,04/04/2022,ITM Acc to Transfer no chq EUEL FANTAYE MEKURI...,8410.00,178888.60
21,04/04/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8950.00,187838.60
22,04/04/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8950.00,196788.60
23,04/04/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8929.45,205718.05
24,05/04/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6380.00,212098.05
25,05/04/2022,ITM Acc to Transfer no chq NAHOM NEGUSSIE DEME...,8970.00,221068.05
26,05/04/2022,ITM Acc to Transfer no chq EUEL FANTAYE MEKURI...,8500.00,229568.05
27,11/04/2022,Internet Credit NEBIL SEID YASSIN Apr 2022 Fro...,9000.00,238568.05
28,21/04/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6412.13,244980.18
29,04/05/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8991.75,253971.93
30,04/05/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8992.00,262963.93
31,04/05/2022,ITM Acc to Transfer no chq RAHEL WELDEGEBRIEL ...,8800.00,271763.93
32,09/05/2022,Transfer MAHLET TAYE BAME BOABANK From Account...,12857.50,284621.43
33,09/05/2022,Telebirr to BoA Account 9E90BO8QUG BOABANK Pho...,9045.75,293667.18
34,10/05/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6425.00,300092.18
35,10/05/2022,Transfer EUEL FANTAYE MEKURIA From Account FT2...,8400.00,308492.18
36,20/05/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6438.44,314930.62
37,03/06/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,9090.01,324020.63
38,03/06/2022,Transfer SAME MICHAEL TADELE From Account FT22...,9090.01,333110.64
39,06/06/2022,Internet Credit MAHLET TAYE BAME Rental From A...,5200.00,338310.64
40,07/06/2022,Transfer MIKI G/EGZIABHER KAHSAY BOABANK From ...,9090.00,347400.64
41,09/06/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,9064.00,356464.64
42,16/06/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6520.00,362984.64
43,20/06/2022,Internet Credit TEKILU BIREDA ISSA Tati From A...,14000.00,376984.64
44,30/06/2022,Transfer EUEL FANTAYE MEKURIA From Account FT2...,16638.02,393622.66
45,02/07/2022,Transfer ETSWICH P2P ETSWITCH From Account Eth...,9125.00,402747.66
46,04/07/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,9125.00,411872.66
47,06/07/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6518.00,418390.66
48,08/07/2022,Internet Credit MAHLET TAYE BAME Office rent F...,5307.00,423697.66
49,11/07/2022,ITM Acc to Transfer no chq RAHEL WELDEGEBRIEL ...,9125.00,432822.66
50,12/07/2022,Transfer ZELEALEM GETAHUN BIKILA BOABANK From ...,5100.00,437922.66
51,13/07/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,13014.70,450937.36
52,04/08/2022,Internet Credit NATNAEL SISAY KAGNEW Office re...,9135.00,460072.36
53,04/08/2022,Internet Credit NEBIL SEID YASSIN Same rent Fr...,9135.00,469207.36
54,05/08/2022,Transfer ZELEALEM GETAHUN BIKILA BOABANK From ...,5100.00,474307.36
55,05/08/2022,Internet Credit NATNAEL SISAY KAGNEW Euel offi...,8200.00,482507.36
56,11/08/2022,Internet Credit MAHLET TAYE BAME Office From A...,5227.00,487734.36
57,17/08/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,9135.00,496869.36
58,23/08/2022,Internet Credit MAHLET TAYE BAME Clothes From ...,8200.00,505069.36
59,31/08/2022,Transfer EUEL FANTAYE MEKURIA BOABANK From Acc...,9170.00,514239.36
60,01/09/2022,Transfer SAME MICHAEL TADELE BOABANK From Acco...,9180.00,523419.36
61,02/09/2022,Internet Credit NATNAEL SISAY KAGNEW From Acco...,9200.00,532619.36
62,09/09/2022,Internet Credit RAHEL WELDEGEBRIEL ABREHAM Wor...,9200.00,541819.36
63,15/09/2022,Internet Credit AZARIA GEBREMICHAEL TAMRAT 4ir...,8076.00,549895.36
64,21/09/2022,Internet Credit MAHLET TAYE BAME Office From A...,14900.00,564795.36
65,28/09/2022,Transfer DANIEL ZELALEM ZEWDE BOABANK From Acc...,13275.00,578070.36

In [30]:
def func(x):
    y = x.split('From')[0]
    for t in ['Credit','Transfer no chq','Transfer']:
        if t in y:
            yy = y.split(t)
            if len(yy)>1:
                z = ''.join(xx for xx in yy[1] if not xx.islower())
                return ' '.join(z.split(' ')[0:3]) 
            else:
                z = ''.join(xx for xx in yy[0] if not xx.islower())
                return ' '.join(z.split(' ')[0:3]) 
        
    return pd.NA
        
df['Name'] = df.Description.map(lambda x: func(x))
df

,Date,Description,Amount (ETB),(ETB),Name
0,12/01/2022,Transfer YARED WELDEGEBRIEL ABREHA BOABANK Fro...,8400.00,10835.79,YARED WELDEGEBRIEL
1,12/01/2022,Transfer DIBORA HAILE G/YOHANNES From Account ...,8439.00,19274.79,DIBORA HAILE
2,17/01/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,12473.19,31747.98,DANIEL ZELALEM
3,01/02/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8405.00,40152.98,NATNAEL SISAY
4,03/02/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,8475.00,48627.98,DIBORA HAILE
5,09/02/2022,Transfer ELIAS ANDUALEM TAYE BOABANK From Acco...,6250.00,54877.98,ELIAS ANDUALEM
6,09/02/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8786.24,63664.22,SAME MICHAEL
7,09/02/2022,Internet Credit NEBIL SEID YASSIN Nabil-4IR Ja...,8683.00,72347.22,NEBIL SEID
8,10/02/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6282.54,78629.76,DANIEL ZELALEM
9,12/02/2022,Internet Credit RAHEL WELDEGEBRIEL ABREHAM Wor...,8932.00,87561.76,RAHEL WELDEGEBRIEL
10,03/03/2022,Internet Credit RAHEL WELDEGEBRIEL ABREHAM Fro...,8950.00,96511.76,RAHEL WELDEGEBRIEL
11,03/03/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8889.55,105401.31,SAME MICHAEL
12,04/03/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8600.00,114001.31,NATNAEL SISAY
13,05/03/2022,Transfer DIBORA HAILE G/YOHANNES BOABANK From ...,8595.00,122596.31,DIBORA HAILE
14,08/03/2022,Internet Credit NAHOM NEGUSSIE DEMESSIE Tsegi ...,8950.00,131546.31,NAHOM NEGUSSIE
15,12/03/2022,Transfer ELIAS ANDUALEM TAYE BOABANK From Acco...,6400.00,137946.31,ELIAS ANDUALEM
16,16/03/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6360.29,144306.60,DANIEL ZELALEM
17,01/04/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8555.00,152861.60,NATNAEL SISAY
18,01/04/2022,ITM Acc to Transfer no chq DIBORA HAILE G/YOHA...,8517.00,161378.60,DIBORA HAILE
19,01/04/2022,ITM Acc to Transfer no chq RAHEL WELDEGEBRIEL ...,9100.00,170478.60,RAHEL WELDEGEBRIEL
20,04/04/2022,ITM Acc to Transfer no chq EUEL FANTAYE MEKURI...,8410.00,178888.60,EUEL FANTAYE
21,04/04/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8950.00,187838.60,SAME MICHAEL
22,04/04/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8950.00,196788.60,SAME MICHAEL
23,04/04/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8929.45,205718.05,SAME MICHAEL
24,05/04/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6380.00,212098.05,ELIAS ANDUALEM
25,05/04/2022,ITM Acc to Transfer no chq NAHOM NEGUSSIE DEME...,8970.00,221068.05,NAHOM NEGUSSIE
26,05/04/2022,ITM Acc to Transfer no chq EUEL FANTAYE MEKURI...,8500.00,229568.05,EUEL FANTAYE
27,11/04/2022,Internet Credit NEBIL SEID YASSIN Apr 2022 Fro...,9000.00,238568.05,NEBIL SEID
28,21/04/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6412.13,244980.18,DANIEL ZELALEM
29,04/05/2022,Transfer SAME MICHAEL TADELE From Account FT22...,8991.75,253971.93,SAME MICHAEL
30,04/05/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,8992.00,262963.93,NATNAEL SISAY
31,04/05/2022,ITM Acc to Transfer no chq RAHEL WELDEGEBRIEL ...,8800.00,271763.93,RAHEL WELDEGEBRIEL
32,09/05/2022,Transfer MAHLET TAYE BAME BOABANK From Account...,12857.50,284621.43,MAHLET TAYE
33,09/05/2022,Telebirr to BoA Account 9E90BO8QUG BOABANK Pho...,9045.75,293667.18,<NA>
34,10/05/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6425.00,300092.18,ELIAS ANDUALEM
35,10/05/2022,Transfer EUEL FANTAYE MEKURIA From Account FT2...,8400.00,308492.18,EUEL FANTAYE
36,20/05/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,6438.44,314930.62,DANIEL ZELALEM
37,03/06/2022,Transfer NATNAEL SISAY KAGNEW From Account FT2...,9090.01,324020.63,NATNAEL SISAY
38,03/06/2022,Transfer SAME MICHAEL TADELE From Account FT22...,9090.01,333110.64,SAME MICHAEL
39,06/06/2022,Internet Credit MAHLET TAYE BAME Rental From A...,5200.00,338310.64,MAHLET TAYE
40,07/06/2022,Transfer MIKI G/EGZIABHER KAHSAY BOABANK From ...,9090.00,347400.64,MIKI G/EGZIABHER
41,09/06/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,9064.00,356464.64,DIBORA HAILE
42,16/06/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6520.00,362984.64,ELIAS ANDUALEM
43,20/06/2022,Internet Credit TEKILU BIREDA ISSA Tati From A...,14000.00,376984.64,TEKILU BIREDA
44,30/06/2022,Transfer EUEL FANTAYE MEKURIA From Account FT2...,16638.02,393622.66,EUEL FANTAYE
45,02/07/2022,Transfer ETSWICH P2P ETSWITCH From Account Eth...,9125.00,402747.66,ETSWICH P2P
46,04/07/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,9125.00,411872.66,DIBORA HAILE
47,06/07/2022,Internet Credit ELIAS ANDUALEM TAYE From Accou...,6518.00,418390.66,ELIAS ANDUALEM
48,08/07/2022,Internet Credit MAHLET TAYE BAME Office rent F...,5307.00,423697.66,MAHLET TAYE
49,11/07/2022,ITM Acc to Transfer no chq RAHEL WELDEGEBRIEL ...,9125.00,432822.66,RAHEL WELDEGEBRIEL
50,12/07/2022,Transfer ZELEALEM GETAHUN BIKILA BOABANK From ...,5100.00,437922.66,ZELEALEM GETAHUN
51,13/07/2022,Transfer DANIEL ZELALEM ZEWDIE From Account FT...,13014.70,450937.36,DANIEL ZELALEM
52,04/08/2022,Internet Credit NATNAEL SISAY KAGNEW Office re...,9135.00,460072.36,NATNAEL SISAY
53,04/08/2022,Internet Credit NEBIL SEID YASSIN Same rent Fr...,9135.00,469207.36,NEBIL SEID
54,05/08/2022,Transfer ZELEALEM GETAHUN BIKILA BOABANK From ...,5100.00,474307.36,ZELEALEM GETAHUN
55,05/08/2022,Internet Credit NATNAEL SISAY KAGNEW Euel offi...,8200.00,482507.36,NATNAEL SISAY
56,11/08/2022,Internet Credit MAHLET TAYE BAME Office From A...,5227.00,487734.36,MAHLET TAYE
57,17/08/2022,Internet Credit DIBORA HAILE G/YOHANNES Office...,9135.00,496869.36,DIBORA HAILE
58,23/08/2022,Internet Credit MAHLET TAYE BAME Clothes From ...,8200.00,505069.36,MAHLET TAYE
59,31/08/2022,Transfer EUEL FANTAYE MEKURIA BOABANK From Acc...,9170.00,514239.36,EUEL FANTAYE
60,01/09/2022,Transfer SAME MICHAEL TADELE BOABANK From Acco...,9180.00,523419.36,SAME MICHAEL
61,02/09/2022,Internet Credit NATNAEL SISAY KAGNEW From Acco...,9200.00,532619.36,NATNAEL SISAY
62,09/09/2022,Internet Credit RAHEL WELDEGEBRIEL ABREHAM Wor...,9200.00,541819.36,RAHEL WELDEGEBRIEL
63,15/09/2022,Internet Credit AZARIA GEBREMICHAEL TAMRAT 4ir...,8076.00,549895.36,AZARIA GEBREMICHAEL
64,21/09/2022,Internet Credit MAHLET TAYE BAME Office From A...,14900.00,564795.36,MAHLET TAYE
65,28/09/2022,Transfer DANIEL ZELALEM ZEWDE BOABANK From Acc...,13275.00,578070.36,DANIEL ZELALEM

In [34]:

dff = df.dropna(axis=0,subset=['Name'])
dff.shape

(65, 5)

In [56]:
f1 = lambda x: ', '.join(x)
def f2(x):
    y=0
    z = ''
    for i in x:
        y+=i
        z+=str(i)+', '
    return str(len(x))+', '+str(y)
    
cols = ['Date','Amount (ETB)','Name']

dfg = dff[cols].groupby('Name').agg({'Amount (ETB)':f2, 'Date':f1})
dfg

,Amount (ETB),Date
Name,,
AZARIA GEBREMICHAEL,"1, 8076.0",15/09/2022
DANIEL ZELALEM,"7, 64256.29000000001","17/01/2022, 10/02/2022, 16/03/2022, 21/04/2022..."
DIBORA HAILE,"7, 61350.0","12/01/2022, 03/02/2022, 05/03/2022, 01/04/2022..."
ELIAS ANDUALEM,"6, 38493.0","09/02/2022, 12/03/2022, 05/04/2022, 10/05/2022..."
ETSWICH P2P,"1, 9125.0",02/07/2022
EUEL FANTAYE,"5, 51118.020000000004","04/04/2022, 05/04/2022, 10/05/2022, 30/06/2022..."
MAHLET TAYE,"6, 51691.5","09/05/2022, 06/06/2022, 08/07/2022, 11/08/2022..."
MIKI G/EGZIABHER,"1, 9090.0",07/06/2022
NAHOM NEGUSSIE,"2, 17920.0","08/03/2022, 05/04/2022"
NATNAEL SISAY,"8, 70177.01000000001","01/02/2022, 04/03/2022, 01/04/2022, 04/05/2022..."
NEBIL SEID,"3, 26818.0","09/02/2022, 11/04/2022, 04/08/2022"
RAHEL WELDEGEBRIEL,"6, 54107.0","12/02/2022, 03/03/2022, 01/04/2022, 04/05/2022..."
SAME MICHAEL,"8, 71767.0","09/02/2022, 03/03/2022, 04/04/2022, 04/04/2022..."
TEKILU BIREDA,"1, 14000.0",20/06/2022
YARED WELDEGEBRIEL,"1, 8400.0",12/01/2022
ZELEALEM GETAHUN,"2, 10200.0","12/07/2022, 05/08/2022"

In [43]:
print(dfg.to_markdown())

| Name                | Date                                                                                           | Amount (ETB)                                                        |  (ETB)                                                                               |
|:--------------------|:-----------------------------------------------------------------------------------------------|:--------------------------------------------------------------------|:-------------------------------------------------------------------------------------|
| AZARIA GEBREMICHAEL | 15/09/2022                                                                                     | 8076.0                                                              | 549895.36                                                                            |
| DANIEL ZELALEM      | 17/01/2022, 10/02/2022, 16/03/2022, 21/04/2022, 20/05/2022, 13/07/2022, 28/09/2022             | 12473.19, 6282.54, 6360.29, 6412.13, 6438.44, 13014.7, 13275.0      | 31747.98, 78629.76, 144306.6, 244980.18, 314930.62, 450937.36, 578070.36             |
| DIBORA HAILE        | 12/01/2022, 03/02/2022, 05/03/2022, 01/04/2022, 09/06/2022, 04/07/2022, 17/08/2022             | 8439.0, 8475.0, 8595.0, 8517.0, 9064.0, 9125.0, 9135.0              | 19274.79, 48627.98, 122596.31, 161378.6, 356464.64, 411872.66, 496869.36             |
| ELIAS ANDUALEM      | 09/02/2022, 12/03/2022, 05/04/2022, 10/05/2022, 16/06/2022, 06/07/2022                         | 6250.0, 6400.0, 6380.0, 6425.0, 6520.0, 6518.0                      | 54877.98, 137946.31, 212098.05, 300092.18, 362984.64, 418390.66                      |
| ETSWICH P2P         | 02/07/2022                                                                                     | 9125.0                                                              | 402747.66                                                                            |
| EUEL FANTAYE        | 04/04/2022, 05/04/2022, 10/05/2022, 30/06/2022, 31/08/2022                                     | 8410.0, 8500.0, 8400.0, 16638.02, 9170.0                            | 178888.6, 229568.05, 308492.18, 393622.66, 514239.36                                 |
| MAHLET TAYE         | 09/05/2022, 06/06/2022, 08/07/2022, 11/08/2022, 23/08/2022, 21/09/2022                         | 12857.5, 5200.0, 5307.0, 5227.0, 8200.0, 14900.0                    | 284621.43, 338310.64, 423697.66, 487734.36, 505069.36, 564795.36                     |
| MIKI G/EGZIABHER    | 07/06/2022                                                                                     | 9090.0                                                              | 347400.64                                                                            |
| NAHOM NEGUSSIE      | 08/03/2022, 05/04/2022                                                                         | 8950.0, 8970.0                                                      | 131546.31, 221068.05                                                                 |
| NATNAEL SISAY       | 01/02/2022, 04/03/2022, 01/04/2022, 04/05/2022, 03/06/2022, 04/08/2022, 05/08/2022, 02/09/2022 | 8405.0, 8600.0, 8555.0, 8992.0, 9090.01, 9135.0, 8200.0, 9200.0     | 40152.98, 114001.31, 152861.6, 262963.93, 324020.63, 460072.36, 482507.36, 532619.36 |
| NEBIL SEID          | 09/02/2022, 11/04/2022, 04/08/2022                                                             | 8683.0, 9000.0, 9135.0                                              | 72347.22, 238568.05, 469207.36                                                       |
| RAHEL WELDEGEBRIEL  | 12/02/2022, 03/03/2022, 01/04/2022, 04/05/2022, 11/07/2022, 09/09/2022                         | 8932.0, 8950.0, 9100.0, 8800.0, 9125.0, 9200.0                      | 87561.76, 96511.76, 170478.6, 271763.93, 432822.66, 541819.36                        |
| SAME MICHAEL        | 09/02/2022, 03/03/2022, 04/04/2022, 04/04/2022, 04/04/2022, 04/05/2022, 03/06/2022, 01/09/2022 | 8786.24, 8889.55, 8950.0, 8950.0, 8929.45, 8991.75, 9090.01, 9180.0 | 63664.22, 105401.31, 187838.6, 196788.6, 205718.05, 253971.93, 333110.64, 523419.36  |
| TEKILU BIREDA       | 20/06/2022                                                                                     | 14000.0                                                             | 376984.64                                                                            |
| YARED WELDEGEBRIEL  | 12/01/2022                                                                                     | 8400.0                                                              | 10835.79                                                                             |
| ZELEALEM GETAHUN    | 12/07/2022, 05/08/2022                                                                         | 5100.0, 5100.0                                                      | 437922.66, 474307.36                                                                 |